.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: rgb(255, 255, 255);
}

.recharts-tooltip-wrapper {
  margin: 0;
  line-height: 6px;
  border: 1px solid #f5f5f5;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 5px;
  color: rgb(10, 9, 9);
}

.recharts-wrapper {
  background-color: #272727
}